@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

::selection {
  @apply bg-gray-200 text-gray-600;
}

p {
  @apply text-gray-800 dark:text-gray-300;
}

html {
  min-width: 360px;
}

:root {
  .notion {
    --notion-font: "Pretendard", ui-sans-serif, system-ui, apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
      "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";

    .notion-title {
      @apply text-4xl;
    }

    .notion-paragraph {
      @apply text-base;
    }
  }
}
